---
---

// Imports
@import "colours";
@import "typography";

// Global tag styles
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    @include body-typography;
}

a {
    text-decoration: none;
    color: $accent;
    &:hover {
        color: $accent-dark;
    }
}

// Global classes
.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1em;
    display: inline-block;
    padding: 1em 2.1em;
    border: 3px solid $accent;
    border-radius: 1.6em;

    &.primary {
        background: $accent;
        color: #FFF;
    }
}

// Header
header {
    @extend .wrapper;
    @extend .clearfix;
    padding: 100px 0;

    .logo {
        width: 32px;
        height: 32px;
        float: left;
    }

    nav {
        float: right;
        text-align: right;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li,
        a {
            display: inline-block;
        }

        a {
            // text-transform: uppercase;
            letter-spacing: 1.5px;
            margin-left: 24px;
            line-height: 32px;
            vertical-align: middle;
        }
    }
}

// Fonts list
.fonts {
    list-style-type: none;
    margin: 50px 0;
    padding: 0;
    @extend .clearfix;

    .font {
        display: inline-block;
        float: left;
        width: -webkit-calc(25% - 15px);
        width: -moz-calc(25% - 15px);
        width: calc(25% - 15px);
        margin: 0 20px 0 0;
        padding: 0;
    }
    .font:last-of-type {
        margin: 0;
    }

    img {
        width: 100%;
        display: block;
    }

    .description {
        width: 100%;
        padding: 20px;
        border-left: 1px solid #EAEAEA;
        border-right: 1px solid #EAEAEA;
        border-bottom: 3px solid #EAEAEA;
        white-space: nowrap;

        h2, h3 {
            margin: 0;
            padding: 0;
            font-size: 1em;
            line-height: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h2 {
            letter-spacing: 0.75px;
            margin-bottom: 0.5em;
        }

        h3 {
            font-weight: normal;
        }
    }
}
