---
---

// Imports
@import "global";

// Global tag styles
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: $body-size;
    @include body-typography;
    text-rendering: optimizeLegibility;
    color: $dark-gray;
}

a {
    text-decoration: none;
    color: $accent;
    &:hover {
        color: $accent-dark;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    @include caslon;
}

// Header & footer
header, footer {
    @extend .wrapper;
    @extend .clearfix;
    padding: 100px 0;

    .logo {
        width: 32px;
        height: 32px;
        float: left;
    }

    nav {
        float: right;
        text-align: right;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li,
        a {
            display: inline-block;
        }

        a {
            // text-transform: uppercase;
            letter-spacing: 1.5px;
            margin-left: 24px;
            line-height: 32px;
            vertical-align: middle;
        }
    }
}

// Fonts list
.fonts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @extend .clearfix;

    .font {
        display: inline-block;
        float: left;
        width: -webkit-calc(25% - 15px);
        width: -moz-calc(25% - 15px);
        width: calc(25% - 15px);
        margin: 0 20px 0 0;
        padding: 0;
    }
    .font:last-of-type {
        margin: 0;
    }

    img {
        width: 100%;
        display: block;
    }

    .description {
        width: 100%;
        padding: 20px;
        border-left: 1px solid $dark-white;
        border-right: 1px solid $dark-white;
        border-bottom: 3px solid $dark-white;
        white-space: nowrap;

        h2, h3 {
            margin: 0;
            padding: 0;
            font-size: 1em;
            line-height: 1em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h2 {
            letter-spacing: 0.75px;
            margin-bottom: 0.5em;
        }

        h3 {
            font-weight: normal;
        }
    }
}

footer {
    margin: 0 auto 100px;
    padding: 0;

    .top {
        @extend .clearfix;
        padding: 20px;
        background: $accent;

        a {
            color: #FFF;

            &:hover {
                color: $dark-white;
            }
        }
    }

    p {
        padding: 20px;
        border: 1px solid $dark-white;
        border-top-width: 0;
        border-bottom-width: 3px;
        margin: 0;

        @include body-typography;
        font-weight: 100;
        font-size: 1em;
    }
}
