// Site typography

$body-size: 12pt;

@mixin body-typography {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

@mixin garamond {
    font-family: "EB Garamond", "Adobe Garamond Pro", "Garamond", serif;
}

@mixin caslon {
    font-family: "Libre Caslon Text", "Adobe Caslon Pro", "Caslon", serif;
}

@mixin league-spartan {
    font-family: "League Spartan", "Avenir Next", "Futura", sans-serif;
}
